/* Colores: Turquesa #98DAE0 #CFE3E3
            Azul oscuro #0D4659*/


/* INSPIRACIÓN*/


.style-parallax {
  /* Full height */
  height: 400px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 50px;
}

.boho{
  /* The image used */
  background-image: url("../images/parallax/inspiracion/boho.jpg");
}

.scandinavian{
  /* The image used */
  background-image: url("../images/parallax/inspiracion/scandinavian.jpg");
}

.shabby{
  /* The image used */
  background-image: url("../images/parallax/inspiracion/shabby.jpg");
}

.div-inside-style-parallax{
  padding-top: 120px;
  width: 80%;
  margin: auto;
}

.style-title{
  border-color:  rgba(207, 227, 227, 0.9);
  border-width: 5px;
  border-style: solid;
  margin: 5px auto;
  padding: 10px;
  width: 37em;
}

.style-title h1{
  font-family: 'Work Sans', sans-serif;
  font-size: 4em;
  font-weight: 400;
  color: white;
  text-align: center;
  margin: 10px auto;
  width: 93%;
  padding: 10px;
  background-color: rgba(207, 227, 227, 0.9);
}

.style-text{
  width: 80%;
  margin: 0 auto 50px;
}

.style-text p, .style-text a{
  font-family: 'Work Sans', sans-serif;
  font-size: 0.9em;
  font-weight: 400;
  color: #383838;
  text-align: justify;
  margin: 10px auto;

}

.style-shop{
  width: 100%;
  display: flex;
  justify-content: center;
}
.btn-style{
  margin: 50px auto 130px;
  text-align: center;
  background-color: white;
  border: 2px solid #98DAE0;
  color: #98DAE0;
  font-size: 1.3em;
  font-family: 'Work Sans', sans-serif;
  padding: 10px 15px;
}

.btn-style a:hover{
  color: #CFE3E3
}


.inspo-style-carousel{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.inspo-style-carousel i {
    font-size: 3em;
    color: #cdcdcd;
    margin: auto 20px;
}

.inspo-style-carousel i:hover {
    color: #cfe3e3;
}

.inspo-style-carousel img {
    /* width: 90%; */
    object-fit: cover;
    padding: 2px;
    resize: 50%;
    width: 50vw;
    margin: 0 10px;
}

.div-img-scandinavian, .div-img-boho, .div-img-shabby{
  cursor: pointer;
}
