/* Colores: Turquesa #98DAE0 #CFE3E3
            Azul oscuro #0D4659*/


/* media query responsive header */
@media (max-width: 992px) {
    .header-container {
        padding-top: 5px;
        padding-bottom: 5px;
        display: flex;
        align-content: space-between;
        flex-direction: row-reverse;
        align-items: center;
    }
    .main-navbar {
        margin-left: 10px;
    }

    .header-logo,
    .main-navbar,
    .user-navbar {
        width: 33%;
    }
    .header-logo img {
        max-width: 50%;
        padding-top: 3px;
    }
    .main-navbar .navbar-toggler {
        margin-left: 0;
    }

    .search input {
        width: 100px;
        outline: none;
    }

    .dropdown-user-menu {
        display: block;
    }

    .no-dropdown-user-menu {
        display: none;
    }

    .main-menu-large-screen {
        display: none;
    }
    .main-menu-small-screen {
        display: flex;
    }

    .search-menu-large-screen {
        display: none;
    }

    .menu-floki {
        display: none;
    }

    .shopping-cart p {
        font-size: 8px;
    }

    .main-menu-small-screen nav button {
        margin: 2px;
    }
}

/* media query responsive HEADER */
@media (max-width: 600px) {

    .marquee {
      display: none;
    }
}


/* media query responsive FOOTER */
@media (max-width: 600px) {

    .main-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0;
    }
    .footer-social {
        margin: 0;
        padding: 0;
    }
    .main-footer ul {
        padding: 0;
        margin: 20px auto ;
    }

}



/* media query responsive HOME */
@media (max-width: 992px) {
  .home-parallax-title{
    padding: 10px;
    width: 65%;
  }

  .home-parallax-title h1{
    font-size: 3em;
  }

    /* stripe */
    .home-stripe {
        background-color: #cfe3e3;
        padding: 5px 0;
        margin: 30px 0;
    }

    .home-stripe h1 {
        font-size: 20px;
    }

    .home-categorias {
        margin-bottom: 30px;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: repeat(2, 1fr);
    }

    .productos-top {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: 1fr;
        grid-gap: 20px;
        margin: auto;
        padding: 3% 5%;
    }

    .texto-categoria {
        height: 15%;
        top: 80%;
        opacity: 1;
        transition: opacity 2s;
    }

    .texto-categoria h1 {
        font-family: "Work Sans", sans-serif;
        font-size: 4vw;
        color: #ffffff;
        text-transform: uppercase;
        letter-spacing: 0.3em;
        text-align: center;
        white-space: wrap;
        margin: auto;
        margin-top: 7.5%;
        top: 80%;
        transform: translate(0%, -50%);
    }


    .home-parallax {
      /* The image used */
      background-image: url("../images/parallax/living1.jpg");
    /* Full height */
      height: 80vh;


      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: top;
      background-repeat: no-repeat;
      background-size: auto;
    }

    .div-inside-home-parallax{
      padding-top: 32vh;

    }

    .home-parallax h1{
      font-size: 3em;
      width: 10em;
      padding: 10px;
    }

    .productos-top-title h1 {
        font-size: 2em;
        width: 13em;
      }

      .producto-top .verMas {
          font-size: 15px;
          padding: 5px;
          width: 90px;
          margin: 10px auto;
      }

}




@media (max-width: 600px) {
  .parallax-image {

    background-attachment: scroll;

   }

  .home-parallax-title h1{
    font-size: 2em;
  }
    /* stripe */
    .home-stripe {
        background-color: #cfe3e3;
        padding: 5px 0;
        margin: 10px 0 30px;
    }

    .home-stripe h1 {
        font-size: 20px;
    }

    .home-categorias {
        margin-bottom: 30px;
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr;
    }

    .productos-top {
        display: grid;
        grid-template-columns: 1fr;
        margin: auto;
    }


    .texto-categoria {
        background-color: rgba(207, 227, 227, 0.7);
        opacity: 1;
        transition: opacity 2s;
        height: 15%;
        top: 80%;
    }

    .texto-categoria h1 {
        font-size: 5vw;
        margin: auto;
        margin-top: 7.5%;
        top: 80%;
        transform: translate(0%, -50%);
    }


    .home-parallax {
      height: 80vh;
      background-size: auto;
    }

    .div-inside-home-parallax{
      padding-top: 32vh;

    }

    .home-parallax h1{
      font-size: 2.5em;
      width: 9em;
      padding: 10px;
    }

    .productos-top-title h1 {
        font-size: 1.5em;
        width: 11em;
      }

      .producto-top .verMas {
          font-size: 15px;
          padding: 5px;
          width: 90px;
          margin: 10px auto;
      }

}


/* media query responsive SHOP */
@media (max-width: 992px) {
  .contenedor-shop {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-auto-rows: 20px 1fr;
      grid-gap: 20px;
      margin: auto;
  }

  .menu-shop {
      display: none;
  }

  .menu-shop-mobile{
    grid-area: 1 / 1 / span 1 / span 4;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* position: sticky;
    top: 7vh; */

  }

  .menu-shop-mobile span{
    font-family: "Work Sans", sans-serif;
    font-size: 13px;

    color: #0d4659;
    text-transform: uppercase;
    padding: 10px;

    }


  .menu-shop-mobile a:hover {
    text-decoration: none;
    color: #98DAE0;
  }



  .contenedor-productos {
      grid-area: 2 / 1 / span 1 / span 4;
      display: flex;
      flex-direction: column;
      justify-content: center;
  }

  .section-productos {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: 1fr;
      grid-gap: 20px;
      margin: auto;
      padding: 3% 5%;
  }
}

@media (max-width: 500px) {
  .section-productos {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-auto-rows: 1fr;
      grid-gap: 20px;
      margin: auto;
      padding: 3% 5%;
  }

  a.page-link, .page-link, .page-item.active .page-link {
      font-size: 10px;
      padding: 1em 1.5em;
      margin: 3px;

  }
}

/* media query responsive PRODUCTO */
@media (max-width: 992px) {
  .contenedor-producto {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 40px auto;
      width: 80vw;
  }

  .fotos-producto {
      display: flex;
      justify-content: center;
  }

  .fotos-producto img {
      object-fit: cover;
      padding: 2px;
      resize: 50%;
      width: 80%;
      margin: 0 auto;
  }

  .datos-producto {
      margin: 20px auto 0;
      width: 80%;
  }

  .productos-recomendados {
      grid-template-columns: repeat(2, 1fr);
  }
  .te-puede-gustar {
      margin: 20px 0 10px 0;
  }
}

@media (max-width: 500px) {
  .productos-recomendados {
      grid-template-columns: 1fr;
  }
  .te-puede-gustar h1 {
      font-family: "Work Sans", sans-serif;
      font-size: 1em;
  }

}

/* media query responsive INSPIRACION */
@media (max-width: 992px) {

  .div-inside-style-parallax{
    padding-top: 135px;
  }

  .style-title{
    width: 27em;
  }

  .style-title h1{
    font-size: 3em;
  }

  .inspo-style-carousel img {
      width: 60vw;
  }

  .btn-style{
    font-size: 1em;
  }

  .inspo-style-carousel i {
      font-size: 2.5em;
  }

}

@media (max-width: 600px) {
  .style-parallax {
    /* Full height */
    height: 400px;

    /* Create the parallax scrolling effect */
    background-attachment: scroll;
    background-position: top;
    background-repeat: no-repeat;
    background-size: 900px;
  }

  .div-inside-style-parallax{
    padding-top: 140px;
  }

  .style-title{
    width: 17em;
  }

  .style-title h1{
    font-size: 2em;
  }

  .inspo-style-carousel img {
      width: 80vw;
      padding: 0;
      margin: 0 5px;
  }

  .btn-style{
    font-size: 1em;
    margin: 30px auto 70px;
  }

  .inspo-style-carousel i {
      font-size: 1.5em;
      margin: auto;
  }

}

/* media query responsive FORMS login, registro, contacto */
@media (max-width: 992px) {

  .form-box{
    width: 80%;
  }

  .form-box form input {
    width: 80%;
  }

  .form-box form input::placeholder{
    text-transform: uppercase;
    font-size: 12px;
  }


}
@media (max-width: 600px) {

  .form-title{
      font-size: 1.5em;
    }

  .form-box{
    margin: 20px auto;
    width: 95%;
  }


  .form-box form input {
    width: 100%;
  }

  .fa-circle{
      font-size: 15px;
      padding: 10px 0;
  }

  .hr {
    width: 60%;
  }

  .form-box form input {
    width: 70%;
    font-size: 11px;
  }

  .form-box form input::placeholder{
    text-transform: uppercase;
    font-size: 11px;
  }

  .error-message{
    font-size: 0.7em;
    width: 90%;
  }

  .mensaje-contacto {
    width: 70%;
  }

  .opciones2 {
    margin: 0 20px;
  }

  .checkbox-text {
      font-size: 12px;
  }
  .checkbox{
    width: 12px !important;
    height: 12px !important;
  }

  .contacto-mensaje-enviado h3 {
    font-size: 1.2em;
  }

}


/* PERFIL */

@media(max-width:578px){


    .formperfil form, .formperfil h2{
        display: block;
        width: 100%;
        margin-left: 30px;
    }

    .userorders{
        display: block;
        width: 100%;
        margin-left: 30px;
    }

}

/* /ADMIN */

.img-grid-admin {
    max-height: 100px;
    border: solid 1px rgb(155, 155, 155);
    border-radius: 2px;
}

.thead-light th,
.thead-light td,
.thead-light input {
    text-transform: uppercase;
    font-size: 13px;

    color: #0d4659;
    text-align: center;
}

.thead-light button,
.button {
    box-sizing: border-box;
    height: 30px;
    color: #0d4659;
    font-size: 1em;
    text-transform: uppercase;
    background-color: white;
    border: none;
    border-radius: 0px;
    margin: auto;
    padding: 5px;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    text-align: center;
}

.form-edit label,
.form-edit p {
    padding: 10px 0 0;
    font-size: 14px;
    color: #0d4659;
    text-transform: uppercase;
}

.form-edit {
    width: 60%;
    margin: 10px auto;
}

.form-edit input {
    box-sizing: border-box;
    color: #0d4659;
    font-size: 12px;
    background-color: white;
    margin-top: 3px;
    text-transform: uppercase;
}

.form-edit textarea{
    font-size: 12px;
    color: #0d4659;
}

.select {
    text-transform: uppercase;
    font-size: 12px;
    color: #0d4659;
}

.form-edit button {
    margin: 20px auto;
    text-align: center;
}

.deleteimg {
    display: flex;
    justify-content: space-around;
}

 @media (max-width: 768px) {

.section-contacto textarea {
    width: 90%;
  }
}


/* media query responsive NOSOTROS */

@media (max-width: 992px) {
  .box-nosotros {
    width: 100%;
  }
  .nosotros-title{
    width: 100%;
  }
  .nosotros-title h1{
    font-size: 3em;
  }
  .team {
    width: 100%;
  }
  .team-member h2{
    font-size: 1.5em;
  }

  .team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: auto;
    padding: 20px 0 60px;
  }

}

@media (max-width: 600px) {

  .div-inside-nosotros-parallax{
    padding-top: 5vh;
    width: 95%;
  }

  .nosotros-parallax{
    background-attachment: scroll;
  }
  .nosotros-title h1{
    font-size: 2em;
  }

  .team {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: auto;
    padding: 20px 0 60px;
  }

  .team-member {
    width: 100%;
    margin: 20px auto;
  }
  .team-member h2{
    font-size: 1.5em;
    padding: 10px 5px;
    width: 100%
  }

}

/* media query responsive CART y CHECKOUT */

@media (max-width: 992px) {

  .cart-title{
    width: 50%;
  }

  .cart-title h1{
    font-size: 1.5em;
  }

  .checkout-title{
    width: 50%;
  }

  .checkout-title h1{
    font-size: 1.5em;
  }

  table .thead-light th {
    font-size: 15px !important;
  }


}

@media (max-width: 600px) {


  .cart-container {
    padding: 20px 0 !important;
  }

  .container-checkout {
    padding: 20px 0 !important;
  }

  .cart-foto{
    display: none !important;
  }

  .cart-title{
    margin: 0px auto 20px;
    width: 60%;
  }

  .checkout-title h1{
    font-size: 1.2em ;
  }

  .checkout-title{
    margin: 0px auto 5px;
    width: 60%;
  }

  .cart-title h1{
    font-size: 1.2em ;
  }

  table .thead-light th {
    font-size: 12px !important;
  }

  .buttonssubmit a button{
    font-size: 12px !important;
    height: 60px !important;
  }

  .divcheckout, .checkouttotal{
    font-size: 20px !important;
  }

  table {
    width: 100% !important;
  }

  .no-items {
    font-size: 15px;
    margin: 100px 10px 300px
  }

  .checkout-box{
    padding: 30px 0px;
    margin: 3% 7%;
  }
  .order-list, .order-form{
      text-transform: uppercase;
      width:80%;
      margin: 10px auto;
      color: #0d4659;
  }

  .order-list h2, .order-form h2{
      font-size: 16px;
      margin-top:10px;
  }

  .productos-box{
    padding: 0 0 5px !important;
  }
  .productos-title-box{
    padding: 0 0 10px !important;
  }
  .productos-checkout{
    font-size: 12px !important;
  }

}

/* media query responsive CART y CHECKOUT */

@media (max-width: 992px) {

  .order-container {
    padding: 20px 0 ;
  }

  .order-box {
    padding: 10px 0;
    margin: 3% 10vw;
  }


  .order-details{
    padding: 50px auto;
  }

  .order-details h2{
    font-size: 1.5em ;
  }

  .profile-box{
    background-color: rgba(238, 238, 238, 0.8);
    padding: 50px 20px;
    margin: 3% 7%;
    min-height: 600px;
  }

  .menu{
      margin: 5px 0px;
  }

  .profile-grid{
    display: grid;
    grid-template-columns: repite(8, 1fr);
    grid-auto-rows: 1fr;
    width: 100%;
    min-height: 500px;
  }

  .profile-menu{
    border-right: 1px solid #949494;
    margin-right: 30px;
    grid-area: 1 / 1 / span 1 / span 1;
  }

  .seccion-content{
    grid-area: 1 / 2 / span 1 / span 7;
    padding-left: 15px;
  }

  .profile-menu h2{
    margin: 0 15px 0 0;
    font-size: 1.3em;
   }

   .formperfil{
       width: 70vw;
   }


}

@media (max-width: 700px) {

    .ordercontainer {
      padding: 20px;
      margin: 20px 0;
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .ordercol{
      width: 100% !important;
    }

    .order-container {
      padding: 20px 0 ;
    }

    .order-box {
      padding: 10px 0;
      margin: 3% 5vw;
    }


    .order-details{
      padding: 50px auto;
    }

    .order-details h2{
      font-size: 1.2em ;
    }
    .order-details ul{
      font-size: 0.8em ;
      padding-left: 10px;
    }

    .order-details p {
      font-size: 0.7em ;
    }


    .order-container {
      padding: 0 ;
    }

    .order-box {
      padding: 30px 0;
      margin: 3% 3vw;
    }


    .order-details{
      padding: 50px auto;
    }

    .order-details h2{
      font-size: 1.5em ;
    }

    .profile-box{
      background-color: rgba(238, 238, 238, 0.8);
      padding: 50px 20px;
      margin: 3% 3%;
      min-height: 600px;
    }

    .menu{
        margin: 5px 0px;
    }

    .profile-grid{
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 100%;
      min-height: 500px;
    }

    .profile-menu{
      border-right: none;
      margin: 0 0 30px ;
    }

    .seccion-content{
      margin: 0 !important;
      padding-left: 0 !important;
    }

    .profile-menu h2{
      padding: 0 0px;
      font-size: 2em;
     }

     .menu{
       display: flex;
       flex-direction: row;
       justify-content: flex-start;
       margin: 0;
       padding: 0;
     }

     .listperfil {
       padding: 10px 10px 20px 0px;
       font-size: 1em !important;
     }

     .h2perfil2, .formperfil{
       margin: 0 !important;
     }


}

/* media query responsive PERFIL */
@media (max-width: 600px) {

    .addresscontainer{
        max-width: 100%;
    }
}

/* media query responsive ADMIN */



/* media query responsive FAQ */
@media (max-width: 992px) {

    .faq-text h2{
     font-size: 2em;

    }

    .faq-text{
     width: 80%;
     margin: 0 auto 50px;
    }

    .faq-text p, .style-text a{
     font-size: 0.9em;
    }

}

@media (max-width: 600px) {

    .faq-text h2{
     font-size: 1.7em;

    }

    .faq-text{
     width: 80%;
     margin: 0 auto 50px;
    }

    .faq-text p, .style-text a{
     font-size: 0.9em;
    }

}
